@import "normalize.css";
/* font-family: 'Josefin Sans', sans-serif; */

:root {
  --color-dark: #121521;
  --color-middle: #1B213A;
  --color-light: #40467C;
  --color-light-hover: #51578C;
  --color-white: #ffffff;
  --text-dark: #141923;
  --text-light: #B2B2D3;
  --grid-gutter: 30px;
}

a {
  transition: all 0.25s ease;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  color: var(--text-light);
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 400;
  
}

.container {
  width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-section {
  margin: 120px 0;
}

.page-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.page-section__title {
  color: var(--color-white);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 46px;
  font-weight: 400;
  margin: 0;
}

.page-section__header-text {
  flex-grow: 1;
  font-size: 24px;
  line-height: 130%;
  margin-left: 60px;
}

.page-section__header-text a {
  color: var(--color-white);
  text-decoration: none;
}

.page-section__header-text a:hover {
  color: var(--color-light-hover);
}

/* button */
.button {
  appearance: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 17px;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button--primary {
  background-color: var(--color-light);
  color: var(--color-white);
}

.button--primary:hover {
  background-color: var(--color-light-hover);
}

.button--secondary {
  border: 2px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
}

.button--secondary:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/* videobox */
.videobox {
  height: 100%;
  display: block;
  position: relative;
}

.videobox::after {
  content: '';
  background: linear-gradient(to bottom, transparent, rgba(20,25,35,0.6));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobox img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videobox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 1;
  transition: fill 0.25s ease;
}

.videobox__icon:hover {
  fill: var(--color-light-hover);
}

/* slider-nav */
.slider-nav {
  display: flex;
}

.slider-nav__arrow {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-light);
  background-color: var(--color-light);
  cursor: pointer;
}

.slider-nav__arrow:hover {
  border: 2px solid var(--color-light-hover);
  background-color: var(--color-light-hover);
}

.slider-nav__arrow:focus {
  outline: none;
}

.slider-nav__arrow--disabled {
  background-color: transparent;
  pointer-events: none;
}

.slider-nav__arrow--disabled path {
  stroke: var(--color-light);
}

.slider-nav--horizontal {
  font-display: row;
}

.slider-nav--horizontal .slider-nav__arrow:not(:last-child) {
  margin-right: 30px;
}

.slider-nav--vertical {
  flex-direction: column;
}

.slider-nav--vertical .slider-nav__arrow{
  transform: rotate(90deg);
}

.slider-nav--vertical .slider-nav__arrow:not(:last-child) {
  margin-bottom: 30px;
}

/* header */
.page-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}

/* mainmenu */
.mainmenu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.mainmenu__item {
  margin-left: 42px;
}

.mainmenu__item a {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
}

.mainmenu__item a:hover {
  color: var(--text-light);
}

/* section-cover */
.section-cover {
  overflow: hidden;
}

.section-cover__row {
  display: flex;
  align-items: center;
}

.section-cover__main {
  width: 575px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-cover__title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  margin: 0 0 10px;
  color: var(--color-white);
}

.section-cover__title span {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--text-light);
}

.section-cover__text p {
  font-size: 32px;
  margin: 0; 
}

.section-cover__actions {
  margin-top: 140px;
  display: flex;
}

.section-cover__actions .button:not(:last-child) {
  margin-right: 30px;
}

/* section-benefits */
.section-benefits__row {
  display: flex;
}

.section-benefits__video {
  width: 575px;
  flex-shrink: 0;
}

.section-benefits__text {
  flex-grow: 1;
  background-color: var(--color-middle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 60px;
}

.section-benefits__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-gutter);
}

.section-benefits__item h3{
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  color: var(--color-white);
  margin: 0 0 20px;
}

.section-benefits__item p {
  font-size: 20px;
  margin: 0;
}

/* slider-places */
.slider-places {
  overflow: hidden;
}

.slider-places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-places__item {
  width: calc((100% - var(--grid-gutter) * 2) / 3);
  flex-shrink: 0;
  margin-right: var(--grid-gutter);
}

.slider-places__item:last-child {
  margin-right: 0;
}

/* place-card */
.place-card__photo {
  position: relative;
  margin-bottom: 12px;
}

.place-card__photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-dark);
  opacity: 0.2;
  transition: opacity 0.2s ease;
}

.place-card__photo:hover::after {
  opacity: 0.8;
}

.place-card__photo:hover .place-card__action{
  opacity: 1;
}

.place-card__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.place-card__action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;
  z-index: 1;
}

.place-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.place-card__row:last-child {
  margin-bottom: 0;
}

.place-card__title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  color: var(--color-white);
  margin: 0;
}

.place-card__rate {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  padding-left: 24px;
  background: url('../images/star.svg') no-repeat left center;
}

.place-card__city {
  font-size: 20px;
  text-transform: uppercase;
}

.place-card__price {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
}

.place-card__price span {
  color: var(--text-light);
  font-weight: 400;
}

/* section-faq */
.section-faq {
  background-color: var(--color-middle);
  overflow: hidden;
  position: relative;
}

.section-faq__row {
  display: flex;
}

.section-faq__content {
  width: 50%;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 80px;
}

.section-faq__poster {
  position: absolute;
  top: 0;
  left: calc(50% + var(--grid-gutter));
  width: calc(50% - var(--grid-gutter));
  height: 100%;
}

.section-faq__poster img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.faq-card {
  border: 2px solid var(--color-light)
}

.faq-card__toggle {
  min-height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
  color: var(--color-white);
}

.faq-card__toggle.is-open + .faq-card__content{
  display: block;
}

.faq-card__toggle.is-open .faq-card__toggle-icon{
  transform: rotate(45deg);
}

.faq-card__toggle-icon {
  width: 48px;
  height: 48px;
  background: url('../images/plus.svg') no-repeat center center;
  cursor: pointer;
}

.faq-card__content {
  display: none;
  padding: 0 30px 30px 30px;
  margin-top: -25px;
  font-size: 20px;
  line-height: 130%;
}

.faq-card__content p {
  margin: 0 0 14px;
}

.faq-card__content p:last-child {
  margin-bottom: 0;
}

/* slider-gallery */
.slider-gallery {
  overflow: hidden;
}

.slider-gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--grid-gutter);
}

.slider-gallery__item img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-gallery__item--big {
  grid-column: span 2;
  grid-row: span 2;
}

/* section-reviews */
.section-reviews {
  overflow: hidden;
}

.section-reviews__row {
  display: flex;
  position: relative;
}

.section-reviews__slider {
  width: 520px;
  flex-shrink: 0;
  position: relative;
  margin-right: var(--grid-gutter);
}

.section-reviews__slider-nav {
  position: absolute;
  top: 0;
  left: -100px;
}

.section-review__poster {
  position: absolute;
  left: 550px;
  top: 0;
  height: 100%;
  width: 1055px;
}
.section-review__poster img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* slider-review */
.slider-review {
  overflow: hidden;
}

.slider-review__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.slider-review__item {
  margin-bottom: var(--grid-gutter);
}

.slider-review__item:last-child {
  margin-bottom: 0;
}

/* review */
.review {
  background-color: var(--color-middle);
  padding: 40px;
  font-size: 20px;
  line-height: 130%;
}

.review__title {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 130%;
  font-weight: 600;
  color: var(--color-white);
}

.review__footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

/* section-contact */
.section-contact {
  position: relative;
}

.section-contact__row {
  display: flex;
  justify-content: flex-end;
}

.section-contact__content {
  width: calc(50% - var(--grid-gutter));
  flex-shrink: 0;
  background-color: var(--color-middle);
  padding: 100px 80px;
}

.section-contact__poster {
  position: absolute;
  top: 0;
  right: calc(50% - var(--grid-gutter));
  height: 100%;
  width: calc(50% + var(--grid-gutter));
}

.section-contact__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* page-footer */
.page-footer__main {
  padding-bottom: 50px;
}

.page-footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__logo {
  width: 190px;
}

.page-footer__contact {
  flex-grow: 1;
  display: flex;
  margin: 0 var(--grid-gutter);
}

.page-footer__contact-column {
  width: 50%;
  max-width: 280px;
}

.page-footer__contact-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px;
}

.page-footer__contact-column p {
  font-size: 22px;
  line-height: 130%;
  font-weight: 600;
  color: var(--color-white);
  margin: 0;
}

.page-footer__contact-column a {
  text-decoration: none;
  color: var(--color-white);
}

.page-footer__contact-column a:hover {
  color: var(--color-light-hover);
}

.page-footer__bottom {
  background-color: var(--color-middle);
  padding: 34px 0;
}

.page-footer__copyright {
  font-size: 20px;
}

.page-footer__copyright a {
  text-decoration: none;
  color: var(--text-light);
}

.page-footer__copyright a:hover {
  color: var(--color-white);
}

/* subscribe-form */
.subscribe-form {
  position: relative;
}

.subscribe-form__input {
  appearance: none;
  border: 2px solid var(--color-light);
  background-color: transparent;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-white);
  padding: 20px 150px 20px 20px;
  width: 410px;
  transition: border 0.25s ease;
}

.subscribe-form__input:focus {
  border: 2px solid var(--color-white);
  outline: none;
}

.subscribe-form__submit {
  position: absolute;
  right: 6px;
  top: 6px;
}

/* social-list */
.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item a {
  background-color: var(--color-light);
  display: block;
}

.social-list__item a:hover {
  background-color: var(--color-light-hover);
}